{% include "base.html" %}

{% block html_code %}
    <!-- page content -->
    
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
    
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <!-- <div class="x_title">
                            <h2> <small>Upload CSV</small></h2>
                            <div class="clearfix"></div>
                        </div> -->
                        <div class="x_content" style="margin-top: 30px;">
                            <form action="." method="post" id="import_id" enctype="multipart/form-data"
                                class="form-horizontal form-label-left">
                                {%csrf_token%}
                                <!-- <hr> -->
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"><i class="fa fa-file-excel-o"
                                            style="font-size: 21px;"></i>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="message_wrapper">
                                            <h4 class="heading"> CSV Format</h4>
                                            <blockquote style="font-size: 13px;" class="message">
                                                Enter the following information in proper format.<br />
                                                1. Name <br />
                                                2. Email<br />
                                                3. Phone<br />
                                                4. City<br />
                                                5. Country <br /><br />
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <a target="blank" class="btn btn-success "
                                            href="/static/customer_import_csv_format/YourDeadliftCustomerImportSheet.csv">Download
                                            CSV Format</a>
                                    </div>
                                </div> -->
                                <hr>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"><i class="fa fa-upload"
                                            style="font-size: 21px;"></i>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="message_wrapper">
                                            <h4 class="heading">Upload Customer CSV</h4>
                                            <blockquote style="font-size: 13px;" class="message">
                                                Make sure you have added all the above information.
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Upload CSV<span
                                            class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="file" id="id_upload_csv" name="upload_csv"
                                            oninvalid="this.setCustomValidity('Please upload the CSV file')"
                                            oninput="this.setCustomValidity('')" required="required" value=""
                                            class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                                        <!-- <input type="submit" name="customer_import_save" class="btn btn-success pull-right" value="Save & Close">
                              <input type="submit" name="customer_import_save" class="btn btn-success pull-right" value="Save"> -->
                                        <input type="submit" name="customer_import_save" class="btn btn-success col-md-12"
                                            value="Validate CSV">
    
                                    </div>
                                </div>

                               {% if csv_data_list %} 

                                <div class="container">
                                    <h2> Uploaded CSV File Data </h2>
                                    <table class="table table-dark table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Mobile</th>
                                                <th>City</th>
                                                <th>Country</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for client_obj in csv_data_list %}
                                            <tr>
                                                <td>{{client_obj.name}}</td>
                                                <td>{{client_obj.email}}</td>
                                                <td>{{client_obj.phone}}</td>
                                                <td>{{client_obj.city}}</td>
                                                <td>{{client_obj.country}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}    

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /page content -->
{% endblock %}

{% block js_code %}

{% if messages %}
    {% for msg in messages %}
    <script> new PNotify({
            title: 'Member',
            text: '{{msg.message}}',
            type: 'success',
            styling: 'bootstrap3'
        });</script>
    {% endfor %}
{% endif %}

{% endblock %}